{% extends "resetpws/base.html" %}
<!--alert-->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<!--alert css-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

{% block title %}Reset your password{% endblock %}
{% block content %}
<h2>Reset your password</h2>


<form method="post" enctype="multipart/form-data">
 
 {% csrf_token %}
 <p>Please enter your Email:</p>
 <p><input type="text"  name="user_email" value="{{us.user_email}}"></p>
 <p>Please enter your new password twice:</p>
 <p>password</p>
 <p><input type="password" id="myInput" name="user_pwd"></p>
 
 <p><input type="checkbox" onclick="myFunction()">Show Password</p>
 <p><input type="submit" value="Change my password"></p>
 <p>The password reset link was invalid, possibly because it has
    already been used. Please request a new password reset.</p>
</form>


 




<script>
    function myFunction() {
 var x = document.getElementById("myInput");
 var y = document.getElementById("myInput1");

 if (x,y.type === "password")
  {
   x.type = "text";
   y.type = "text";
 } else {
   x.type = "password";
   y.type = "password";
 }
}

</script>
<script> 
		
  {% for flashmsg in messages %} 
    alertify.set('notifier','position', 'top-center');
    alertify.success('{{flashmsg}}');
  
  {% endfor %}
  
</script>
{% endblock %}